.FilterContainer {
  font-family: 'Andale Mono', monospace;
  font-size: 14px;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  right: 0;
  left: auto;
  padding: 10px;
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  direction: ltr!important;
  text-align: left!important;
  flex-direction: column;
}

@media only screen and (max-width: 1068px) {
  .FilterContainer {
    display: none
  }
}

.FilterContainer {
  transition: slide 1s linear ;
}

.FilterContainer.visible form {
  display: block!important;
}

.FilterContainer.hidden form {
  display: none!important;
}

.FilterContainer.visible .toggleForm {
  transform: rotate(90deg);
}

.FilterContainer.hidden .toggleForm {
  transform: rotate(0deg);
}

.FilterContainer .toggleForm {
  transform: rotate(0deg);
  transition: transform .2s linear;
}

.FilterContainer .toggleForm:hover{
  transform: rotate(90deg);
  transition: transform .2s linear;
}

