.FilterContainer {
  font-family: 'Andale Mono', monospace;
  font-size: 14px;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  right: 0;
  left: auto;
  padding: 10px;
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  direction: ltr!important;
  text-align: left!important;
  flex-direction: row;
}

@media only screen and (max-width: 1068px) {
  .FilterContainer {
    display: none
  }
}

.FilterContainerVisible > div:first-of-type {
  display: block!important;
}

.FilterContainerHidden > div:first-of-type {
  display: none!important;
}