.FilterContainer {
  font-size: 14px;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  direction: ltr!important;
  text-align: left!important;
  flex-direction: row;
  font-family: Andale Mono, Monaco, monospace!important;
}

@media only screen and (max-width: 1068px) {
  .FilterContainer {
    display: none
  }
}
