:root {
    --fontSize: 13px;
    --itemColour:white;
}

.geoContainer {
    margin-right: 10px;
}

.container {
    font-size: var(--fontSize);
    padding: 0;
    margin: 0!important;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container li {
    list-style: none;
    margin: 0 1px;
    padding: .3rem;
    background-color: var(--itemColour);
    cursor: pointer;
    flex: 1 1 auto;
    text-align: center;
    border: 1px dotted lightsteelblue;
}

.container li a {
    text-decoration: none;
    color: black!important;
}

.container li.sourcebox {
    background-color: lightgoldenrodyellow;
}

.container li.host {
    background-color:linen;
}

.container li.external {
    background-color: lightcyan;
}

.container li.rand {
    background-color: cornsilk;
}