:root {
    --fontSize: 13px;
    --itemColour: rgba(255,255,255,1);
}

.geoContainer {
    display: none;
}

.container {
    font-size: var(--fontSize);
    padding: 0;
    margin: 0!important;
    max-width: 320px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container li {
    list-style: none;
    margin: .3rem;
    padding: .3rem;
    background-color: var(--itemColour);
    border-radius: 5px;
    border: 1px dotted lightsteelblue;
    cursor: pointer;
    flex: 1 1 auto;
    text-align: center;
}

.container li a {
    text-decoration: none;
    color: black!important;
}

.container li.sourcebox {
    background-color: lightgoldenrodyellow;
}

.container li.host {
    background-color:linen;
}

.container li.external {
    background-color: lightcyan;
}