.SelectContainer {
    --webkit-appearance: none;
    font-family: 'Andale Mono', monospace;
    font-size: 15px;
    direction: ltr!important;
}

.SelectContainer-input {
    --webkit-appearance: none;
    font-family: 'Andale Mono', monospace;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid darkgrey;
    text-align: center!important;
    padding: 2px 0!important;
    margin-top: 5px!important;
    background-color: whitesmoke!important;
    direction: ltr!important;
}

.SelectContainer-input:active {
    outline: none;
    background-color: lightgray;
    border: 1px solid white;
}

.SelectContainer-input:focus {
    outline: none;
}

.FormWrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 5px;
}

.EnvironmentWrapper {
    display: flex;
    flex-direction: row;
    width: 140px;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
}

.EnvironmentWrapper fieldset {
    border: none;
    padding: 0;
    margin-right: 5px;
}

.SelectWrapper {
    display: flex;
    flex-direction: column;
    width: 140px;
}