.VersionContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    flex-wrap: wrap;
}

.Version {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: 13px;
}

.Versions {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.Version--mideast {
    background-color: white;
    border: 1px dashed #888888;
}

.Version--global {
    background-color: white;
}


.Version:hover {
    cursor: pointer;
}

.Version:active,
.Version:focus {
    background-color:lightgoldenrodyellow;
}


.toggleForm {
    cursor: pointer;
    font-size: 20px;
}