.VersionContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    flex-wrap: nowrap;
}

.Versions {
    margin-left: 5px;
}

.Version {
    display: inline-block;
    background-color: lightcyan ;
    border: 1px dotted #8e8e8e;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 5px 10px;
    transition: background .2s ease-in;
    margin: 0 1px;
}

.Version:hover {
    border-style:  solid;
}

.Versions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Version--mideast {
    background-color: lightpink;
}

/* .Version--global {
    background-color: white;
} */


.Version:hover {
    cursor: pointer;
}

.Version:active,
.Version:focus {
    background-color:lightgoldenrodyellow;
}


.toggleForm {
    cursor: pointer;
    font-size: 13px;
    border: 1px dotted black;
    padding: 5px;
    background-color: white;
    transition: all .2s ease-in;
}

.toggleForm:hover {
    border: 1px solid black;
    background-color: #fefefe;
}